<% if doctor_signed_in? %>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for @symptom, url: create_symptom_path do |f| %>
        <%= f.label :name %>
        <%= f.text_field :name %>

        <%= f.submit "Create symptom", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
<% end %>
