<div class="center jumbotron">
  <div class="container">
    <h1>Welcome to the Health App</h1>
    <h3>If you are suffering from any disease and want to know the treatment for that disease or if you want to consult a doctor for free, you came to the right place. We provide all info about a particular disease, including its symptoms and treatments recommended for those symptoms by acclaimed doctors.
    </h3>
    <%= link_to "I am a Patient", new_patient_session_path , class: "btn btn-primary new" %><br /><br />
    <%= link_to "I am a Doctor", new_doctor_session_path , class: "btn btn-primary new" %><br />
  </div>
</div>
