@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

p{
  font-size: 15px;
}

p.comment{
  font-size: 14px;
  margin-left:35px;
}

span.dashboard{
  color: green;
  padding-right:10px;
}

span.dashboard:hover{
  color:yellow;
}

.navbar{
  max-height:71px;
}

.navbar-nav > li > a {
  padding-top: 0px;
  padding-bottom: 0px;
}

/*.nav > li > a{
  margin-top: 10px;
}*/

.nav-pills{
  display:inline-block;
}

.new{
  padding:10px 60px;
}

.btn-group{
  margin-top: 10px;
}

/*p.color{
  color:black;
}*/

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.btn-danger{
  padding: 2px;
}

